Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

*.lnk

*~
.Trash-*

.DS_Store
.AppleDouble
.LSOverride

._*

*.bak
*.gho
*.ori
*.orig
*.tmp

*.log

.env

node_modules/
backend/vendor/
frontend/build/
